.devenv*
.pre-commit*
.direnv
.idea/
node_modules
dist
target

.DS_Store

# Dart
.dart_tool/
.dartfmt.txt
build/
coverage/
.packages
.pub/
pubspec.lock

# dotnet build artifacts
dotnet/**/obj/
dotnet/**/bin/

# Swift SDK local native artifact and build output
/.build/
swift/**/Artifacts/

.vscode/
